{% load bootstrap3 %}
{% load staticfiles %}
<!-- 新 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">

<!-- 可选的Bootstrap主题文件（一般不用引入） -->
<link rel="stylesheet" href="{% static "css/bootstrap-theme.min.css" %}">

<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="{% static "js/jquery-1.9.1.min.js" %}"></script>
<script src="{% static "js/jquery-ui-1.10.3.custom.min.js" %}"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="{% static "js/bootstrap.min.js" %}"></script>



{# Display a form #}

<form action="/url/to/submit/" method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "star" %} Submit
        </button>
    {% endbuttons %}
</form>
