<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
        <title>
            chart test
        </title>


    </head>
    <body>
        <canvas id="myChart" width="500" height="300">
        </canvas>


        <button id="b" onclick="getVal()">click</button>
	<button id="h" onclick="change(1)">cpu</button>
  <button id="h" onclick="change(2)">内存</button>
       
    </body>
    <script src="../static/Chart.js"></script>
 	<script src="../static/update.js"></script>
<html/>
