<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
        <title>
            linux命令执行，并返回结果
        </title>
    </head>
    <body>
        <center><h2>linux命令执行</h2>
        <table>
            <form action="." method="POST">
                <TBODY>
                    <TR>
                        <td>cmd:</td>
                        <td><input type="TEXT" name="cmd" id="cmd" size="60" /></td>
                        <td><input Type="submit" value="执行" /></td>
                    </TR>
                    <tr>
                        <td>Result:</td>
                        <td><TEXTAREA style="height:100; width:500">{{ result }}</TEXTAREA></td> <a href="#" data-toggle="tooltip" title="first tooltip">hover over me</a>
                    </tr>
                </TBODY>
             </form>   
         </table>
    </body>
<html/>
